*{
    margin: 0;
    padding: 0;
    background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.box{
    height: 300px;
    width: 300px;
    background-color: rgb(23, 20, 220);
    border-radius: 50%;

}